<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animated Image with Text</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content">
        <h1 class="animated-text">Hello, I’m Somreeta!</h1>
        <div class="image-container">
            <img src="{{ url_for('static', filename='image.jpg') }}" alt="Animated Photo" class="animated-img">
        </div>
        <p class="animated-subtext">Welcome to my animated world ✨</p>
                <p class="animated-paragraph">
           As a computer science major with expertise in AWS, I am eager to explore career opportunities in software development and business
analytics. With a robust foundation in programming, problem-solving, and data analysis, I am poised to leverage my technical acumen
and analytical mindset to drive innovation and contribute meaningfully to dynamic teams.

        </p>
<p>
    <h3>Contact details:</h3>
</p>+91 9038030731
<p>
Email: ateermos@gmail.com
</p>
    </div>
</body>
</html>
